<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57B4D53B1CC5F6BF00FEF1E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57B4D5571CC5F6BF00FEF1E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57B4D5621CC5F6C000FEF1E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
