<ion-view view-title="Account">
  <ion-content>
    <form name="account">
      <ion-list>
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" ng-model="user.firstName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" ng-model="user.lastName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="user.email">
        </label>
      </ion-list>
      <button class="button button-balanced icon-left ion-camera" ng-click="getPicture()">Add Image</button>
      <button class="button button-positive" ng-click="submitAccount()">Update Account</button>
      
    </form>
  </ion-content>
</ion-view>
