<ion-view view-title="{{title}}">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="What's up?" ng-model="data.newMessage">
        </label>
        <button class="button button-small button-balanced" ng-click="sendChat()">
          Send
        </button>
      </ion-item>
      <ion-item ng-repeat="message in chat.messages">
        <img class="avatar avatar-small" ng-src="{{users[message.user].face}}">
        {{message.message}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
